

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="chat-container">
    <!-- Chat messages go here -->
    <div id="chat-messages"></div>
</div>

<div class="input-container">
    <!-- Input form for sending chat message -->
    <form id="chat-form">
        <input type="text" id="chat-input" name="user-input" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../scripts/script.js"></script>
 
    

</body>
</html>

    
    
    